* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 6.25%;
}

body {
  display: grid;
  justify-content: center;
  padding: 74rem 110rem;
  background-color: #1e1e1e;
}

header,
main {
  font-family: "Mulish";
}

h2 {
  font-weight: 900;
  font-size: 36rem;
  line-height: 44rem;
  color: #e1e1e6;
}

main p {
font-weight: 600;
font-size: 18rem;
line-height: 24rem;
color: #C4C4CC;
}


header {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  margin-bottom: 82rem;
}

header h1 {
  font-weight: 900;
  font-size: 58rem;
  line-height: 74rem;
  color: #02799d;
}

header h2 {
  font-weight: 600;
  font-size: 32rem;
  line-height: 40rem;
}

main {
  display: grid;
  grid-template-areas: 
  'A B C'
  'D E F';
  width: 1218rem;
  gap: 48rem 60rem;
}

.card {
  width: 366rem;
  border: 2px solid #323238;
  border-radius: 8rem;
  background-color: #202024;
}

.card img {
  width: 100%;
  border-radius: 8rem 8rem 0 0 ;
}

.wrapperInfo {
  display: flex;
  flex-direction: column;
  gap: 24rem;
  margin: 12rem 32rem 32rem 32rem;
}